//Mixins

@mixin banner{
	width: 100%;
	position: relative;
	color: white;

	.banner-content{
		position: absolute;
		top: 50px;
		width: 100%;

	}

	img{
		width: 100%;
	}

	span{
		font-size: $bannerHeading;
		text-transform: uppercase;
		font-weight: bold;
		display: block;
	}

	span .title{
		font-weight: normal;
		margin-bottom: 30px;
	}

}

@mixin flexbox{
	display: flex;
}

@mixin grid($cols, $mgns){

	float: left;
	margin-right: $mgns;
	margin-bottom: $mgns;
	width: ((100% - (($cols - 1) * $mgns)) / $cols);

	&:nth-child(#{$cols}n){
		margin-right: 0;
	}

}